name: Go Releaser (simple)

on:
  release:
    types: [created] 
  workflow_dispatch: 

permissions:
  contents: write  

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25" 

      - name: Build binaries
        run: |
          mkdir -p dist
          CGO_ENABLED=1 go build -trimpath -ldflags="-s -w -buildid= -extldflags=-static -X main.Version=$(shell git describe --tags --dirty --always) -X main.Commit=$(shell git rev-parse --short HEAD) -X main.BuildTime=$(shell date -u +%Y-%m-%dT%H:%M:%SZ)" -buildvcs=false -o dist/sbot ./cmd/bot/main.go

      - name: Upload binaries to release
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
